# Database Configuration
#DATABASE_URL="postgresql://root:12345@localhost:5435/hyf-adwiseli-db?schema=public"

DATABASE_URL="postgresql://postgres.yxxxifbgvkmhrdjgitgg:fkOXQu0IRTVpHQFC@aws-0-eu-north-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Server Configuration
PORT=8080
NODE_ENV=development